.list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100% - 130px);
  overflow: scroll;
}

.errorBox {
  position: fixed;
  bottom: 116px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  width: 370px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  z-index: 11;
}

div.hide {
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

.searchList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchList p {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  width: auto;
  padding: 5px 20px;
  margin: 10px;
}

.searchList p:first-child {
  border: none;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
