.item {
  margin: 1rem 0;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid rgb(60, 60, 60);
  position: relative;
}

.image {
  width: 118px;
  height: 118px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

.content {
  text-align: left;
  width: calc(100% - 115px);
  padding: 0.8rem;
}

.content h4 {
  font-size: 1rem;
  color: rgb(212, 212, 212);
  margin-bottom: 10px;
}

.content .time {
  color: rgb(128, 128, 128);
  margin-bottom: 10px;
}

.likeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
  align-items: center;
}

.likeButton svg {
  width: 20px;
  height: 20px;
  transform: translateY(-1px);
  margin-right: 5px;
}
