.ProductsHeader{
  height: 50px;
  padding : 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(100, 100, 100);
  font-size: 18px;
}

.ProductsHeader a{
  margin:0;
  padding:0;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.ProductsHeader svg{
  width: 30px;
  height: 30px;
}

.ProductsHeader .searchBox{
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
}

.ProductsHeader svg.searchBtn{
  width: 23px;
  height: 23px;
}

.ProductsHeader .searchBox form{
  position: relative;
}

.ProductsHeader .searchBox input{
  width: 160px;
  height: 30px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}


.ProductsHeader svg.searchBtn2{
  fill: rgb(100, 100, 100);
  width: 16px;
  height: 16px;
  position: absolute;
  right: 7px;
  top: 6px;
}