.item {
  margin: 1rem 0;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid rgb(60, 60, 60);
  position: relative;
  height: 135px;
}

.image {
  width: 124px;
  height: 124px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image span {
  position: absolute;
  top: 35%;
}

.image img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.content {
  text-align: left;
  width: calc(100% - 115px);
  padding: 0.8rem;
  position: relative;
}

.content h4 {
  font-size: 1.2rem;
  color: rgb(212, 212, 212);
  margin-bottom: 10px;
}

.content .time {
  color: rgb(128, 128, 128);
  margin-bottom: 10px;
}

.likeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 18px;
  z-index: 99;
  width: 50px;
  height: 30px;
  padding-right: 5px;
}

.likeButton svg {
  width: 24px;
  height: 24px;
  transform: translateY(-1px);
  margin-right: 5px;
  fill: rgb(255, 255, 255);
}

.likeButton svg.fill {
  fill: rgb(255, 0, 0);
}

.price {
  display: flex;
  align-items: center;
}
.soldout {
  background-color: gray;
  width: 55px;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  padding: 5px 0;
  margin-right: 10px;
}
