@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Dovemayo_gothic";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(212, 212, 212);
}

html {
  background-color: white;
}

body {
  margin: 0 auto;
  max-width: 414px;
  height: 800px;
  background-color: rgb(37, 37, 37);
  position: relative;
  border-radius: 10px;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

#__next {
  background-color: rgb(37, 37, 37);
  height: 100%;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(240, 240, 240);
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 767px) {
  #__next {
    border-radius: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 376px) {
  body {
    height: 667px;
  }
}

.empty {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.loader {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}
