@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Dovemayo_gothic';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(212, 212, 212);
}

html{
  background-color:white;

}
body {
  margin: 0 auto;
  max-width: 414px;
  height: 100%;
  background-color: rgb(37, 37, 37);
}
a {
  color: white;
  text-decoration: none;
}

ul{
  list-style: none;
}

#__next{
  background-color: rgb(37, 37, 37);
}